* {
  border: 1px dotted red;
}


body {
  margin: 0;
  padding: 0;

}

section, aside {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  margin: 5px;


}

section {
  width: 20%;

}

aside {
  width: 20%;
}

img.circlePhoto {
  width: 100px;
  border-radius: 70%;
  border-color: red;
}
