body {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', serif; }

header {
  display: block;
  font-size: 75px;
  width: 100%;
  padding: 22px; }

header, footer {
  background-color: #C6E2FF; }

img {
  border: solid 2px black; }

header img {
  width: 145px;
  height: 145px; }

p {
  font-size: 25px;
  margin: 12 12 12 12;
  padding: 12px; }

h1 {
  width: 100%;
  padding: 10px;
  margin: 10px;
  font-size: 33px; }

section {
  float: left;
  margin: 20px;
  width: 200px;
  padding: 20px;
  display: inline-block;
  vertical-align: top; }

section img, aside img {
  width: 100%; }

section, nav {
  width: 20%; }

nav a {
  font-size: 24px;
  display: block;
  color: black;
  padding: 15px;
  margin: 0px 0px 0px 200px;
  text-decoration: none; }

nav ul {
  list-style-type: none;
  padding: 10;
  text-decoration: none; }

nav li {
  margin: 0px 0px 0px 150px;
  list-style-type: none; }

footer {
  display: inline-block;
  width: 100%; }

@media screen and (max-width: 321px) {
  header {
    font-size: 40px; }
  header img {
    width: 100px;
    height: 100px; }
  section, nav {
    width: 98%; } }
