@import 'mixins';
@import 'variables';





p {
  background-color: #FFE1FF; }

img {
  @include border();
}

    /* old styles */
body {
      font-family: $default-font-family;
      margin: 0;
      padding: 0; }

section img, aside img {
        width: 280px; }

  header {
        @include header();
      }

  header img {
            width: 145px;
            height: 145px; }

.boxed {

            width: 100%;
            padding: 10px;
            margin: 10px;
            border: 1px solid #C6E2FF;
            font-size: 24px; }

  nav a {
        font-size: 20px;


        display: block;
        color: black;
        padding: 15px;
        text-decoration: none;
        margin: 1px 1px 1px 180px; }

nav ul {
        margin: 20px;
        list-style-type: none;
        padding: 20px;
        text-decoration: none; }

nav li {
        display: inline-block;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto; }

section, aside {
        display: inline-block;
        vertical-align: top;
        padding: 20px; }

section {
        width: 300px;
        margin: 1px 1px 1px 180px; }

aside {
        width: 300px;
        margin: 1px 1px 1px 180px; }

h2 {
        font-family: 'Shadows Into Light', serif, serif;
        font-size: 44px; }

header, footer {
      @include hfcolor();
      }

footer {

        font-size: 15px;
        padding: 12px; }


@media screen and (max-width: 321px) {

header {
        font-size: 40px;
    }

header img {
        width:100px;
        height: 100px;
  }


.boxed img {
        width: 100%;
  }

section img, aside img {
      width: 100%;
  }
section {
    width: 90%;
    margin: 1px 50px 1px 1px;
    text-align: center;
  }
aside {
    width: 90%;
    margin: 1px 50px 1px 1px;
    text-align: center;
  }

nav li {
    display: inline-block;
    width: 75px;

  }

nav u {
    display: inline-block;
}

nav a {
    display: inline-block;
    margin: 1px 100px 1px 1px;
  font-size: 15px;
}

    }
